# Introduction

In this notebook, I will analyse how the customers are staying at the charging station.

In [1]:
# Import the necessary packages for EDA
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Import datetime for datetime processing
from datetime import datetime, timedelta

In [2]:
source = "../pre_ana_data/updated_combined_ev_charging_data.csv"
leeds_comb_df = pd.read_csv(source)
leeds_comb_df.head()

,charging_event_id,user_id,cp_id,con_num,start_date,start_time,end_date,end_time,total_kwh,site,charger_model,charging_cost,start_datetime,end_datetime,duration_hr,start_day,end_day,start_period,end_period
0,383322,14Q3User 31,70206,2,31/12/2014,11:25,31/12/2014,11:35,0.57,Elland Road Park and Ride,APT 7kW Dual Outlet,NaN,2014-12-31 11:25:00,2014-12-31 11:35:00,0.166667,Wednesday,Wednesday,morning,morning
1,383031,14Q3User 635,70206,1,30/12/2014,13:58,30/12/2014,15:24,4.52,Elland Road Park and Ride,APT 7kW Dual Outlet,NaN,2014-12-30 13:58:00,2014-12-30 15:24:00,1.433333,Tuesday,Tuesday,afternoon,afternoon
2,381777,14Q3User 38,70201,2,27/12/2014,18:13,27/12/2014,19:08,0.00,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,2014-12-27 18:13:00,2014-12-27 19:08:00,0.916667,Saturday,Saturday,evening,evening
3,380951,14Q3User 629,70208,1,24/12/2014,11:37,24/12/2014,12:06,3.16,Elland Road Park and Ride,APT 7kW Dual Outlet,NaN,2014-12-24 11:37:00,2014-12-24 12:06:00,0.483333,Wednesday,Wednesday,morning,afternoon
4,377470,14Q3User 626,70204,2,18/12/2014,09:29,18/12/2014,11:56,3.16,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,2014-12-18 09:29:00,2014-12-18 11:56:00,2.450000,Thursday,Thursday,morning,morning

There are some charging event that may be just plugging in and out.

In [3]:
duration_0 = leeds_comb_df["duration_hr"].loc[leeds_comb_df["duration_hr"]==0].count()
p_0=(leeds_comb_df["duration_hr"].loc[leeds_comb_df["duration_hr"]==0].count()/len(leeds_comb_df))* 100
print(f"Out of {len(leeds_comb_df)}, there are {duration_0} counts with 0 hrs. Making up {p_0:.3f}% of the data.")

Out of 24224, there are 247 counts with 0 hrs. Making up 1.020% of the data.

In [7]:
leeds_comb_df.loc[leeds_comb_df["duration_hr"] <= -0.001]

,charging_event_id,user_id,cp_id,con_num,start_date,start_time,end_date,end_time,total_kwh,site,charger_model,charging_cost,start_datetime,end_datetime,duration_hr,start_day,end_day,start_period,end_period
822,8819520,19Q3User 1000,80164,2,04/08/2019,11:45,01/01/1970,01:00,13.69,Elland Road Park and Ride,APT Triple Rapid Charger,NaN,2019-08-04 11:45:00,1970-01-01 01:00:00,-434698.750000,Sunday,Thursday,morning,early morning
1357,8920072,19Q3User 744,80164,2,02/09/2019,11:21,01/01/1970,01:00,19.86,Elland Road Park and Ride,APT Triple Rapid Charger,NaN,2019-09-02 11:21:00,1970-01-01 01:00:00,-435394.350000,Monday,Thursday,morning,early morning
1542,8953404,19Q3User 744,80164,2,10/09/2019,14:01,01/01/1970,01:00,16.01,Elland Road Park and Ride,APT Triple Rapid Charger,NaN,2019-09-10 14:01:00,1970-01-01 01:00:00,-435589.016667,Tuesday,Thursday,afternoon,early morning
1580,8959220,19Q3User 424,80164,2,12/09/2019,06:09,01/01/1970,01:00,13.71,Elland Road Park and Ride,APT Triple Rapid Charger,NaN,2019-09-12 06:09:00,1970-01-01 01:00:00,-435629.150000,Thursday,Thursday,morning,early morning
1598,8960841,19Q3User 1055,80164,2,12/09/2019,12:08,01/01/1970,01:00,5.89,Elland Road Park and Ride,APT Triple Rapid Charger,NaN,2019-09-12 12:08:00,1970-01-01 01:00:00,-435635.133333,Thursday,Thursday,afternoon,early morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14020,9809893,20Q1User 844,80164,2,01/05/2020,13:27,01/01/1970,01:00,10.83,Elland Road Park and Ride,APT Triple Rapid Charger,NaN,2020-05-01 13:27:00,1970-01-01 01:00:00,-441204.450000,Friday,Thursday,afternoon,early morning
14036,9816014,20Q1User 753,80164,2,05/05/2020,17:58,01/01/1970,01:00,11.63,Elland Road Park and Ride,APT Triple Rapid Charger,NaN,2020-05-05 17:58:00,1970-01-01 01:00:00,-441304.966667,Tuesday,Thursday,afternoon,early morning
14046,9819218,20Q1User 753,80164,2,07/05/2020,17:58,01/01/1970,01:00,24.25,Elland Road Park and Ride,APT Triple Rapid Charger,NaN,2020-05-07 17:58:00,1970-01-01 01:00:00,-441352.966667,Thursday,Thursday,afternoon,early morning
14050,9820572,20Q1User 353,80164,2,08/05/2020,19:06,01/01/1970,01:00,27.65,Elland Road Park and Ride,APT Triple Rapid Charger,NaN,2020-05-08 19:06:00,1970-01-01 01:00:00,-441378.100000,Friday,Thursday,evening,early morning
14119,9829575,20Q1User 353,80164,2,14/05/2020,17:34,01/01/1970,01:00,26.75,Elland Road Park and Ride,APT Triple Rapid Charger,NaN,2020-05-14 17:34:00,1970-01-01 01:00:00,-441520.566667,Thursday,Thursday,afternoon,early morning

In [5]:
leeds_comb_df["duration_hr"].max()

609.15

In [ ]:
def